<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
<!--    <script src="https://cdn.jsdelivr.net/sockjs/1.1.4/sockjs.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/stompjs/1.7.1/stomp.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!--    <script>-->
<!--        const socket = new SockJS('/ws');-->
<!--        const stompClient = Stomp.over(socket);-->

<!--        stompClient.connect({}, function (frame) {-->
<!--            console.log('Connected: ' + frame);-->
<!--            stompClient.subscribe('/topic/notifications', function (notification) {-->
<!--                alert('Notification: ' + notification.body);-->
<!--            });-->
<!--        });-->
<!--    </script>-->

    <title>TechFlow</title>
</head>

<body>
<header th:fragment="header" class="bg-white p-6 flex items-center justify-between min-h-[103px]">
    <div class="flex items-center">
        <h1 class="text-4xl font-bold">TechFlow</h1>
    </div>
    <th:block th:if="${requestUri != '/'}">
        <nav class="flex items-center" th:with="currentStyles=${'border border-gray-500 bg-gray-200'}">
            <ul class="flex justify-end space-x-5 text-black">
                <li><a href="/tickets/create"
                       class="hover:bg-gray-300 focus:ring-1 focus:ring-gray-603 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none"
                       th:classappend="${requestUri == '/tickets/create'} ? ${currentStyles} : bg-gray-100">Create
                    Ticket</a>
                </li>
                <li><a href="/tickets"
                       class="hover:bg-gray-300 focus:ring-1 focus:ring-gray-603 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none"
                       th:classappend="${requestUri == '/tickets'} ? ${currentStyles} : bg-gray-100">All Tickets</a>
                </li>
                <li><a href="/dashboard"
                       class="hover:bg-gray-300 focus:ring-1 focus:ring-gray-603 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none"
                       th:classappend="${requestUri == '/dashboard'} ? ${currentStyles} : bg-gray-100">Dashboard</a>
                </li>
                <!--                <li><a href="/manage-account"-->
                <!--                       class="bg-gray-300 hover:bg-gray-300 focus:ring-1 focus:ring-gray-603 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none">Manage-->
                <!--                    Account</a></li>-->
                <!--                <li>-->
                <form th:action="@{/logout}" method="post" class="mt-[-6px]">
                    <button type="submit"
                            class="text-white bg-gray-900 hover:bg-gray-600 focus:ring-1 focus:ring-gray-603 font-medium rounded-lg text-sm px-5 py-[0.516rem] focus:outline-none">
                        Logout
                    </button>
                </form>
                </li>
            </ul>

            <div data-tooltip-target="tooltip-manage-account" class="text-black font-bold flex-col item-center !ml-3">
                <a href="/manage-account"><img th:src="${profilePicturePath}" alt="Profile Picture"
                                               class="w-10 h-10 rounded-full border border-gray-300 object-cover m-auto"></a>
                <p class="text-[10px] text-center"><a href="/manage-account"><span th:text="${name}"></span></a></p>
                <div id="tooltip-manage-account" role="tooltip"
                     class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Manage Account

                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </div>
        </nav>
    </th:block>
</header>

<script th:fragment="ws-notification">
    const socket = new SockJS('/ws');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe('/topic/notifications', function (notification) {
            alert('Notification: ' + notification.body);
        });
    });


</script>

</body>

</html>
