<!--Imported from Doug's OAuth feature branch to run his portion of the app - not original code-->

<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace = "fragments.html :: head">
</head>
<body class="bg-gray-200 font-sans">
<header class="bg-white p-6">
  <h1 class="text-4xl font-bold">TechFlow</h1>
</header>
<div class="m-auto my-20 max-w-lg items-center flex flex-col">
  <th:block th:if = "${authenticated}">
    <p>Welcome <span th:text = "${name}"></span>!</p>
    <p>Username: <span th:text = "${username}"></span></p>
    <p>Email: <span th:text="${email}"></span></p>
    <p>All: <span th:text="${all}"></span></p>
  </th:block>



  <th:block th:unless = ${authenticated}>
    <p class="max-w-80 sm:max-w-2xl text-2xl font-bold text-green-700 text-center px-3 sm:text-4xl">Welcome to your all-in-one hub for tech support tickets.</p>
    <div class="flex flex-col m-auto my-20 p-10 bg-gray-300 border-solid border-gray-400 border-2">
      <button class="bg-zinc-950 hover:bg-zinc-800 text-white font-bold py-2 px-4 rounded mb-6"><a href="/oauth2/authorization/github">Login With GitHub</a></button>
      <button class="bg-red-700 hover:bg-red-800 text-white font-bold py-2 px-4 rounded"><a href="/oauth2/authorization/google">Login With Google</a></button>
    </div>

  </th:block>

</div>

</body>
</html>